html {
  font-size: 4.26666666667vw !important;
  font-family:
    Microsoft YaHei,
    微软雅黑,
    黑体,
    宋体,
    Microsoft JhengHei,
    华文细黑,
    STHeiti,
    MingLiu;
}

html,
body {
  height: 100%;
  overflow: hidden;
}
